<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Huahu</title>
    <link href="/static/css/index.css" rel="stylesheet" />
    <script src="/static/js/sjianbing.js" type="text/javascript"></script>
  </head>
<body>
<div id="huahu">
    <div id="nav">
    <ul>
    <li><a href="">首页</a></li>
    <li><a href="">卧室</a></li>
    <li><a href="">客厅</a></li>
    <li><a href="">浴室</a></li>
    </ul>
    </div>
    <div id="right">
        This is the right
    </div>
    <div id="zj">
        This is the middle
    </div>
    <div id="left">
        <ul>
        <li><a href="">四件套</a></li>
        <li><a href="">被子被芯</a></li>
        <li><a href="">浴袍</a></li>
        <li><a href="">毯子</a></li>
        </ul>
    </div>
</div>
<div id="foot">
        This is the foot
</div>

</body>

</html>

